*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bfeaff;

    height: 100vh;
}

.container{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    gap: 2rem;

    background-color: #fff;
    padding: 3% 2%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #00000070;
}

h2 ,p ,label , input::placeholder{
    font-weight: bold;
    font-family: sans-serif;
}

label{
    width: 90%;
}

input{
    outline: none;
    width: 100%;
    padding: 3%;
    border: none;
    border: 1px solid #000;
    border-radius: 5px;
}

button{
    width: 90%;
    padding: 3%;
    background-color: #fff;
    color: #2b58ff;
    border: none;
    border: 1px solid #2b58ff;
    border-radius: 10px;
    transition: .3s;

    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.1rem;
}

button:hover, button:focus{
    background-color: #2b58ff;
    color: #fff;
    border: 1px solid #fff;
}

#reload{display: none;}